body {
    font-family: Verdana, Arial, sans-serif;
    line-height: 24px;
}

h1 {
    font-size: 36px;
}

a {
    font-size: 24px;
}

.buttons {
    background-color: white;
    font-size: 14px;
    border: 2px solid white;
}

/*
#home-button {
    background-color: white;
    font-size: 14px;
    border: 2px solid white;
}

#previous-button {
    background-color: white;
    font-size: 14px;
    border: 2px solid white;
}

#next-button {
    background-color: white;
    font-size: 14px;
    border: 2px solid white;
}
*/